<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="1000" alt="cognitiveclass.ai logo"  />
</center>

# Assignment: Exploratory Data Analysis with SQL

Estimated time needed: 60 minutes

# Introduction

Using this R notebook you will perform exploratory data analysis tasks using SQL queries with the RODBC R package. You will not be graded here, but you will be asked to present some of these results in your final assignment, where you will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your Db2 connection

Load the 'RODBC' library, and use the 'odbcConnect( )' function as you did in the previous lab to establish the connection to your Db2 assets.\
Provided you successfully loaded your data into the tables in that lab, you are now ready to start running SQL queries using the RODBC library as you did in Course 3.

In [11]:
# provide your solution here
install.packages("RODBC")
library(RODBC)
dsn_driver <- "{IBM DB2 ODBC Driver}"
dsn_database <- "bludb"
dsn_hostname <- "ba99a9e6-d59e-4883-8fc0-d6a8c9f7a08f.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_port <- "31321"
dsn_protocol <- "TCPIP"
dsn_uid <- "ktk41199"
dsn_pwd <- "snsWHHtXRd6lwTQw" 
dsn_security <- "ssl"

# Create a connection string and connect to the database
conn_path <- paste("DRIVER=",dsn_driver,
                   ";DATABASE=",dsn_database,
                   ";HOSTNAME=",dsn_hostname,
                   ";PORT=",dsn_port,
                   ";PROTOCOL=",dsn_protocol,
                   ";UID=",dsn_uid,
                   ";PWD=",dsn_pwd,
                   ";SECURITY=",dsn_security,        
                   sep="")
conn <- odbcDriverConnect(conn_path, believeNRows=FALSE)
conn

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done
Warning message in odbcDriverConnect(conn_path, believeNRows = FALSE):
“[RODBC] ERROR: state 01000, code 0, message [unixODBC][Driver Manager]Can't open lib 'IBM DB2 ODBC Driver' : file not found”Warning message in odbcDriverConnect(conn_path, believeNRows = FALSE):
“ODBC connection failed”

[1] -1

## Task 1 - Record Count

#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [2]:
# provide your solution here

## Task 2 - Operational Hours

#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [3]:
# provide your solution here

## Task 3 - Weather Outlook

#### Query the the weather forecast for Seoul over the next 3 hours.

Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [4]:
# provide your solution here

## Task 4 - Seasons

#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [5]:
# provide your solution here

## Task 5 - Date Range

#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [6]:
# provide your solution here

## Task 6 - Subquery - 'all-time high'

#### determine which date and hour had the most bike rentals.

### Solution 6

In [7]:
# provide your solution here

## Task 7 - Hourly popularity and temperature by season

#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [8]:
# provide your solution here

## Task 8 - Rental Seasonality

#### Find the average hourly bike count during each season.

Also include the minimum, maximum, and standard deviation of the hourly bike count for each season.

### Solution 8

In [9]:
# provide your solution here

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality

#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?

Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [10]:
query <- 
# provide your solution here

ERROR: Error in parse(text = x, srcfile = src): <text>:3:0: unexpected end of input
1: query <-
2: # provide your solution here
  ^

## Task 10 - Total Bike Count and City Info for Seoul

#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.

Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [ ]:
# provide your solution here

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system

#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.

Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [ ]:
# provide your solution here

In [ ]:
close(conn)

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Yan Luo, Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                  |
| ---------- | ------- | ------------- | ----------------------------------- |
| 2021-05-04 | 0.2     | Jeff Grossman | Finalize                            |
| 2021-04-22 | 0.2     | Jeff Grossman | Update as per peer review           |
| 2021-04-10 | 0.2     | Jeff Grossman | Add data sources and implicit joins |
| 2021-04-05 | 0.1     | Jeff Grossman | Start content creation              |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>